html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('Desktop - 3.png');
}
header {
    margin: 0;
    top: 0;
    width: 100%;
    min-height: 50px;
    background-color: rgb(36, 18, 6);
    position: fixed;
    border-bottom: 3px solid black;
}
h1 {
    color: white;
    text-align: center;
}
.second {
    transition: 0.5s;
}
.second:hover {
    color:rgb(142, 183, 224);
}
.first {
    color: white;
    margin-left: 40%;
    text-align: center;
    transition: 0.5s;
    height: 20px;
    width: 20%;
}
.first:hover {
    background-color: rgb(82, 83, 83);
    border-radius: 2vw;
}
a {
    color:white;
    text-decoration: none;
    font-size: 1.1em;
}
section {
    margin-top: 180px;
}
h2 {
    text-align: center;
}
.third {
    padding: 10px;
    color: white;
    width: 80%;
    margin-left: 10%;
    font-size: 1.5em;
    height: 10%;
    background-color: rgba(78, 48, 20, 0.719);
    border-radius: 10px;
    border-bottom: 2px solid black;
}
